*{
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
.login-page,
.sign-up-page{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login,
.sign-up-div{
    background-color: white;
    height: 650px;
    width: 600px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.twitter,
.google{
    color: rgb(29, 155, 240);
    font-size: 40px !important;
}

.google{
    font-size: 32px !important;
    color: grey
}

.login h2{
    margin: 20px 0;
    font-size: 32px;
}

.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.google-sign-in,
.sign-in{
    border: 1px solid grey;
    padding: 5px 15px;
    border-radius: 18px;
    width: 80%;
    text-align: center;
    color: rgb(61, 60, 60);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.google-sign-in:hover{
    background-color: rgb(245, 240, 240);
}

.or{
    margin-top: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.or hr{
    background-color: grey;
    width: 200px;
    height: 1px;
    border: none;
    margin: 0 10px;
}

.login input,
.sign-up-div input{
    height: 50px;
    width: 60%;
    font-size: 22px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 5px 10px;
}

input:focus{
    border: 2px solid rgb(29, 155, 240);
    outline: none;
}

.sign-in,
.sign-up-btn{
    background-color: black;
    color: white;
    height: 42px;
    margin-top: 20px;
    font-size: 18px;
}

.sign-in:hover,
.sign-up-btn:hover{
    background-color: rgb(36, 35, 35);
}

a{
    text-decoration: none;
    color: rgb(29, 155, 240);;
}

.sign-up{
    color: grey;
    margin-top: 40px;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.sign-up-btn{
    width: 80%;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    margin-top: 100px
}

.sign-up-div h1{
    margin-bottom: 30px;
}

.hide{
    display: none;
}

.error-message{
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.sidebar{
    padding: 15px 30px;
    height: 100vh;
    border-right: 1px solid rgb(219, 217, 217);
    position: sticky;
    top: 0;
    
}

.sidebar-item{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 22px;
    margin: 10px 0;
    cursor: pointer;
    padding: 10px 5px;
}

.sidebar-item:hover{
    border-radius: 80px;
    background-color: rgb(216, 203, 203);
}

.sidebar-icon{
    font-size: 32px !important;
}

.bold{
    font-weight: bold;
}

.tweet{
    padding: 20px 100px;
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.tweet:hover,
.tweetbox-tweetbtn:hover{
    background-color: rgb(14, 106, 167);
}

.home{
    display: flex;
    justify-content: center;
}

.user{
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: repeat(1fr, 2);
    font-size: 16px;
    margin-top: 90%;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 5px;
}

.user:hover{
    background-color: rgb(216, 203, 203);
    border-radius: 80px;
}

.user img{
    border-radius: 100px;
    grid-column: 1;
    grid-row: 1 / 3;
    height: 40px;
    padding: 0;
    margin: 0;
}

.user .name{
    font-weight: bold;
    grid-row: 1;
    grid-column: 2;
    color: black;
}

.user p{
    grid-row: 2;
    grid-column: 2;
    color: gray;
    justify-self: flex-start;
    margin-left: 10px;
}

.account-circle{
    font-size: 32px !important;
    grid-row: 1 / 3;
}

.feed{
    padding: 10px;
    border-right: 1px solid rgb(219, 217, 217);
    
}

.tab-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.tab-container p{
    padding: 10px 80px;
    cursor: pointer;
}

.selected{
    border-bottom: 3px solid rgb(29, 155, 240);;
}

.tab-container p:hover{
    background-color: rgb(216, 203, 203);
}

.tweetbox{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 40px;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid rgb(216, 203, 203);
    margin-bottom: 20px;
}

.tweetbox img{
    grid-column: 1;
    grid-row: 1;
    border-radius: 100px;
    height: 40px;
}


.tweetbox input{
    grid-row: 1;
    grid-column: 2;
    height: 60px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgb(219, 217, 217);
    margin-bottom: 10px;
}

.tweetbox .icons{
    display: flex;
    gap: 5px;
    grid-row: 2;
    grid-column: 2;
    cursor: pointer;
    color: rgb(29, 155, 240);
}

.tweetbox-tweetbtn{
    padding: 10px 20px;
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10px;
}

.tweet-item{
    border-bottom: 1px solid rgb(219, 217, 217);
    display: grid;
    grid-template-columns: 50px 1fr 40px;
    grid-row: 20px 1fr 40px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.tweet-item img,
.tweet-item .profile-pic{
    height: 40px;
    font-size: 40px !important;
    border-radius: 100px;
    grid-row: 1 / 3;
    grid-column: 1;
}

.tweet-item .author{
    display: flex;
    gap: 10px;
    grid-column: 2;
    grid-row: 1;
}

.tweet-item .text{
    grid-row: 2;
    grid-column: 2;
}

.tweet-item .name{
    font-weight: bold;
}

.tweet-item .username{
    color: rgb(129, 125, 125);
}

.tweet-item .tweet-icons{
    display: flex;
    gap: 20px;
    grid-row: 3;
    grid-column: 2;
    align-items: center;
    font-size: 30px;
}

.tweet-icons img{
    height: 20px;
}

.comment,
.retweet,
.like{
    cursor: pointer;
    border-radius: 100px;
}

.comment:hover{
    background-color: rgba(29, 155, 240, 0.4);
}

.retweet:hover{
    background-color: rgba(5, 110, 5, 0.4);
}

.like:hover{
    background-color: rgba(255, 0, 0, 0.4);
}

.right-widgets{
    padding: 5px 20px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.right-widgets input{
    border-radius: 40px;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 18px;
    height: 40px;
    width: 300px;
    margin-bottom: 40px;
}

.whats-happening{
    border-radius: 20px;
    background-color: rgba(155, 155, 155, 0.1);
    padding: 20px 0;
}

.whats-happening h2{
    margin-bottom: 10px;
    margin-left: 20px;
}

.trending-item{
    font-size: 16px;
    cursor: pointer;
    padding: 20px;
}

.trending-item p{
    margin-bottom: 5px;
}

.trending-item:hover{
    background-color: rgb(216, 203, 203);
    width: 100%;
    
}